.b-page
{
    font: 14px/1.7 Tahoma, arial, sans-serif;
    margin: auto;
	width: 100%;
	min-width: 1000px;
    background: #f3f1ee;
    
    
    color: #555555;
    //font-family: Arial,sans-serif;
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 0 #EEEEEE;
    font-size: 100%;
    line-height: 1.6875;
}